<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>

<body>
    <form action="/doUpdate" method="POST" onsubmit="return checkForm()">
        New Name: <input type="text" name="newtxtName" id="">
        <br>
        New Weight: <input type="text" name="newtxtWeight" id="">
        <br>
        <input type="submit" value="Update">
    </form>

</body>

</html>